<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="stylesheet" href="../css/view_part.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <title>DynScore</title>
</head>