<nav class="hide">
    <ul>
        <li><a href="/<%= role %>">Elegir instrumento</a></li>
        <!-- <li><a id="partitura">Partitura</a></li> -->
        <!-- <li><a href="/<%= role %>/settings">Configuración</a></li> -->
        <a href="#">
            <li class="modal-open" data-id="settings-modal">Configuración
            </li>
        </a>
    </ul>
</nav>