<nav class="hide">
    <ul>
        <li><a href="/<%= role %>">Elegir instrumento</a></li>
        <!-- <li><a id="partitura">Partitura</a></li> -->
        <li><a id="role"><%= role %></a></li>
    </ul>
</nav>
<script src="../scripts/navbar.js"></script>