<div id="preview-modal" class="modal" role="dialog" tabindex="-1">
    <div class="modal-inner">
        <div class="modal-header">
            <h2>Vista previa</h2>
            <button class="modal-close" data-id="preview-modal" aria-label="Close">
                &times;
            </button>
        </div>
        <div>
            <object id="preview-slot" type='image/svg+xml' data="">
                <img src="/svg-no.png" alt="Error loading svg">
            </object>
        </div>
    </div>
</div>