<div id="settings-modal" class="modal" role="dialog" tabindex="-1">
    <div class="modal-inner">
        <div class="modal-header">
            <h2>Configuración</h2>
            <button class="modal-close" data-id="settings-modal" aria-label="Close">
                &times;
            </button>
        </div>
        <div>
            <form>
                <section>
                    <header>
                    </header>
                    <fieldset>
                        <div class="fieldset-item">
                            <input type="checkbox" checked id="metronome" name="metronome">
                            <div class="input-stack">
                                <label for="metronome">
                                    <h3>Metrónomo</h3>
                                    <small>Habilitar visualización</small>
                                </label>
                            </div>
                        </div>
                        <% if (role == 'composer') { %>
                        <div class="fieldset-item">
                            <input type="checkbox" id="composer-option2" name="composer-option2">
                            <div class="input-stack">
                                <label for="composer-option2">
                                    <h3>Vista de compositor - Opción 2</h3>
                                    <small>Habilitar la opción 2</small>
                                </label>
                            </div>
                        </div>
                        <% } %>
                        <% if (role == 'interpreter') { %>
                        <div class="fieldset-item">
                            <input type="checkbox" id="interpreter-option2" name="interpreter-option2">
                            <div class="input-stack">
                                <label for="interpreter-option2">
                                    <h3>Vista de interprete - Opción 2</h3>
                                    <small>Habilitar la opción 2</small>
                                </label>
                            </div>
                        </div>
                        <% } %>
                    </fieldset>
                </section>
            </form>
        </div>
        <div>
            <% if (role == 'composer') { %>
            <h2>Información útil</h2>
            <p>
                IP:
                <p><%- localip %></p>
            </p>
            <% } %>
        </div>
    </div>
</div>