<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="../css/view_part.css">

<body>

    <%- include("./partials/nav.ejs") %>
    <div class="metronome">
        <p class="bpm">60</p>
    </div>
    <div class="wrapper">
        <div class="grid staves">
            <object class="one" type='image/svg+xml' data=""> Score 1
                <img src="/svg-no.png" alt="No SVG support">
            </object>
            <object class="two" type='image/svg+xml' data=""> Score 2
                <img src="/svg-no.png" alt="No SVG support">
            </object>
            <object class="three" type='image/svg+xml' data=""> Score 3
                <img src="/svg-no.png" alt="No SVG support">
            </object>
        </div>
    </div>

    <script>
        let data = '<%- data%>';
        let route = '<%- route%>';
    </script>
    <script src="../socket.io.js"></script>
    <script src="../scripts/fullscreen.js"></script>
    <script src="../scripts/animations.js"></script>
    <script src="../scripts/ws.js"></script>
</body>

</html>