<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="../css/view_part.css">

<body>

    <%- include("./partials/nav.ejs") %>
    <div class="metronome">
        <p class="bpm">60</p>
    </div>
    <div class="hl"></div>
    <div class="grid">
        <object id="one" type='image/svg+xml' data="">
            <img src="/svg-no.png" alt="No SVG support">
        </object>
        <object id="two" type='image/svg+xml' data="">
            <img src="/svg-no.png" alt="No SVG support">
        </object>
        <object id="three" type='image/svg+xml' data="">
            <img src="/svg-no.png" alt="No SVG support">
        </object>
    </div>

    <script>
        let data = '<%- data%>';
        let route = '<%- route%>';
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
    <script src="../scripts/fullscreen.js"></script>
    <script src="../scripts/animations.js"></script>
    <script src="../scripts/client.js"></script>
</body>

</html>